<!DOCTYPE html>
<html lang="et">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Playing around with angular;">
    <meta name="author" content="Gerli Kõiv">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- GITHUB: https://github.com/gerlik/angularJS_app -->
    <title>TODO</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>

    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favicon.ico" />
</head>

<body>
    <div>
        <header>
            <div class="left">
            </div>
            <div class="right">
                <a href="index.html"><img src="http://www.stickpng.com/assets/images/5847ea22cef1014c0b5e4833.png" alt="angularlogo" id="logo"></a>
            </div>
            <!-- pikem logo
<a href="index.html"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/AngularJS_logo.svg/2000px-AngularJS_logo.svg.png" alt="angularlogo" id="logo"></a>-->
            <a href="index.html">
                <h1>AngularJS Õppekeskkond</h1>
            </a>
            <nav>
                <ul>
                    <li><a href="todo.html">TODO</a></li>
                    <li><a href="example.html">Näited</a></li>
                    <li><a href="resources.html">Materjalid</a></li>
                    <li><a href="game.html">Mäng</a></li>
                    <li><a href="feedback.html">Tagasiside</a></li>
                </ul>
            </nav>
        </header>

        <div class="content">
            <div class="examples" ng-app="exampleApp">
                <div class="tab">
                    <button class="tablink" onclick="openTab(event, 'First')">Interaktiivne vorm</button>
                    <button class="tablink" onclick="openTab(event, 'Second')">Tabel</button>
                    <button class="tablink" onclick="openTab(event, 'Third')">Valideerimine</button>
                    <button class="tablink" onclick="openTab(event, 'Fourth')">Filtreerimine</button>
                    <button class="tablink" onclick="openTab(event, 'Fifth')">Animeerimine</button>
                </div>

                <!--FIRST EXAMPLE-->
                <div id="First" class="tabcontent">
                    <h3>Interaktiivne vorm</h3>
                    <p>
                        Lihtne vorm AngularJS-iga, mida täites toimub reaalajas ilma lehte värskendamata muutus.
                        <a href="https://www.w3schools.com/angular/angular_forms.asp">Link</a>
                    </p>
                    <script type="text/ng-template" id="info.html">
                        <img src={{example.url}} alt="">
                        <pre ng-model="code">{{code}}</pre>
                    </script>

                    <ul>
                        <li class="showCode1"><a href="#!/example1">Näita näidet</a></li>
                        <li class="showExample1"><a href="#!/code1">Näita koodi</a></li>
                    </ul>
                    <div class="planet-container">
                        <div class="planet-view" ng-view></div>
                    </div>
                </div>

                <!--SECOND EXAMPLE-->
                <div id="Second" class="tabcontent">
                    <h3>Tabel</h3>
                    <p>
                        AngularJS-iga on tabeleid väga mugav kuvada ning kasutada erinevaid sortimisfiltreid. Tabelisse saab andmed võtta ka eraldi failist või lausa SQL failist.
                        <a href="https://www.w3schools.com/angular/angular_tables.asp">Link</a>
                    </p>
                    <script type="text/ng-template" id="info.html">
                        <img src={{example.url}} alt="">
                        <pre ng-model="code">{{code}}</pre>
                    </script>

                    <ul>
                        <li class="showCode"><a href="#!/example2">Näita näidet</a></li>
                        <li class="showExample"><a href="#!/code2">Näita koodi</a></li>
                    </ul>
                    <div class="planet-container">
                        <div class="planet-view" ng-view></div>
                    </div>
                </div>

                <!--THIRD EXAMPLE-->
                <div id="Third" class="tabcontent">
                    <h3>Valideerimine</h3>
                    <p>
                        AngularJS abil saab erinevaid vormi väljasid panna kontrollima, kas kasutaja on sisestanud õiges formaadis nime, e-maili või muu sisendi.
                        <a href="https://www.w3schools.com/angular/angular_validation.asp">Link</a>
                    </p>
                    <script type="text/ng-template" id="info.html">
                        <img src={{example.url}} alt="">
                        <pre ng-model="code">{{code}}</pre>
                    </script>

                    <ul>
                        <li class="showCode"><a href="#!/example3">Näita näidet</a></li>
                        <li class="showExample"><a href="#!/code3">Näita koodi</a></li>
                    </ul>
                    <div class="planet-container">
                        <div class="planet-view" ng-view></div>
                    </div>
                </div>

                <!--FOURTH EXAMPLE-->
                <div id="Fourth" class="tabcontent">
                    <h3>Filtrid</h3>
                    <p>
                        Filtrite abil saab andmekogumeid mugavalt ja kiirelt töödelda, leida üles vajalikud vasted, lugeda vasteid kokku ja palju muud. <a href="https://www.w3schools.com/angular/angular_services.asp">Link</a>
                    </p>
                    <script type="text/ng-template" id="info.html">
                        <img src={{example.url}} alt="">
                        <pre ng-model="code">{{code}}</pre>
                    </script>

                    <ul>
                        <li class="showCode"><a href="#!/example4">Näita näidet</a></li>
                        <li class="showExample"><a href="#!/code4">Näita koodi</a></li>
                    </ul>
                    <div class="planet-container">
                        <div class="planet-view" ng-view></div>
                    </div>
                </div>

                <!--FIFTH EXAMPLE-->
                <div id="Fifth" class="tabcontent">
                    <h3>Animeerimine</h3>
                    <p>
                        Animeerimine AngularJS-iga ehk elementide kadumapanemine, keerutamine ja pööramine ning palju muud. <a href="https://www.w3schools.com/angular/angular_animations.asp">Link</a>
                    </p>
                    <script type="text/ng-template" id="info.html">
                        <img src={{example.url}} alt="">
                        <pre ng-model="code">{{code}}</pre>
                </script>

                    <ul>
                        <li class="showCode"><a href="#!/example5">Näita näidet</a></li>
                        <li class="showExample"><a href="#!/code5">Näita koodi</a></li>
                    </ul>
                    <div class="planet-container">
                        <div class="planet-view" ng-view></div>
                    </div>
                </div>

            </div>
        </div>
        <footer>
            <p><b>Tartu 2018</b></p>
        </footer>
    </div>
    <script>
        function openTab(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <script src="myCtrl.js"></script>
</body>

</html>
