<!DOCTYPE html>
<html lang="et">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Playing around with angular;">
    <meta name="author" content="Gerli Kõiv">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- GITHUB: https://github.com/gerlik/angularJS_app -->
    <title>TODO</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>

    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favicon.ico" />
</head>

<body>
    <div>
        <header>
            <div class="left">
            </div>
            <div class="right">
                <a href="index.html"><img src="http://www.stickpng.com/assets/images/5847ea22cef1014c0b5e4833.png" alt="angularlogo" id="logo"></a>
            </div>
            <!-- pikem logo
<a href="index.html"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/AngularJS_logo.svg/2000px-AngularJS_logo.svg.png" alt="angularlogo" id="logo"></a>-->
            <a href="index.html">
                <h1>AngularJS Õppekeskkond</h1>
            </a>
            <nav>
                <ul>
                    <li><a href="todo.html">TODO</a></li>
                    <li><a href="example.html">Näited</a></li>
                    <li><a href="resources.html">Materjalid</a></li>
                    <li><a href="game.html">Mäng</a></li>
                    <li><a href="feedback.html">Tagasiside</a></li>
                </ul>
            </nav>
        </header>

        <div class="content">
            <div class="examples" ng-app="exampleApp">
                <div class="tab">
                    <button class="tablink" onclick="openTab(event, 'First')">Interaktiivne vorm</button>
                    <button class="tablink" onclick="openTab(event, 'Second')">Tabel</button>
                    <button class="tablink" onclick="openTab(event, 'Third')">Kolmas</button>
                    <button class="tablink" onclick="openTab(event, 'Fourth')">Neljas</button>
                    <button class="tablink" onclick="openTab(event, 'Fifth')">Viies</button>
                </div>

                <!--FIRST EXAMPLE-->
                <div id="First" class="tabcontent">
                    <h3>Interaktiivne vorm</h3>
                    <p>
                        Lihtne vorm AngularJS-iga, mida täites toimub reaalajas ilma lehte värskendamata muutus.
                    </p>
                    <script type="text/ng-template" id="info.html">
                        <img src={{example.url}} alt="">
                    <textarea ng-model="code" id="" cols="" rows="15"></textarea>
                </script>

                    <ul>
                        <li class="showCode"><a href="#!/example">Näita näidet</a></li>
                        <li class="showExample"><a href="#!/code">Näita koodi</a></li>
                    </ul>
                    <div class="planet-container">
                        <div class="planet-view" ng-view></div>
                    </div>
                </div>
                <!--SECOND EXAMPLE-->
                <div id="Second" class="tabcontent">
                    <h3>Tabel</h3>
                    <p>
                        Tabel
                    </p>
                    <script type="text/ng-template" id="info.html">
                        <img src={{example.url}} alt="">
                    <textarea ng-model="code" id="" cols="" rows="15"></textarea>
                </script>

                    <ul>
                        <li class="showCode"><a href="#!/example">Näita näidet</a></li>
                        <li class="showExample"><a href="#!/code">Näita koodi</a></li>
                    </ul>
                    <div class="planet-container">
                        <div class="planet-view" ng-view></div>
                    </div>
                </div>
                <!--THIRD EXAMPLE-->

                <!--FOURTH EXAMPLE-->

                <!--FIFTH EXAMPLE-->


            </div>
        </div>
        <footer>
            <p><b>Tartu 2018</b></p>
        </footer>
    </div>
    <script src="myCtrl.js"></script>
</body>

</html>
