<!DOCTYPE html>
<html lang="et">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Playing around with angular;">
    <meta name="author" content="Gerli Kõiv">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- GITHUB: https://github.com/gerlik/angularJS_app -->
    <title>TODO</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>

    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favicon.ico" />
</head>

<body>
    <div>
        <header>
            <div class="left">
            </div>
            <div class="right">
                <a href="index.html"><img src="http://www.stickpng.com/assets/images/5847ea22cef1014c0b5e4833.png" alt="angularlogo" id="logo"></a>
            </div>
            <!-- pikem logo
<a href="index.html"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/AngularJS_logo.svg/2000px-AngularJS_logo.svg.png" alt="angularlogo" id="logo"></a>-->
            <a href="index.html">
                <h1>AngularJS Õppekeskkond</h1>
            </a>
            <nav>
                <ul>
                    <li><a href="todo.html">TODO</a></li>
                    <li><a href="example.html">Näited</a></li>
                    <li><a href="resources.html">Materjalid</a></li>
                    <li><a href="game.html">Mäng</a></li>
                    <li><a href="feedback.html">Tagasiside</a></li>
                </ul>
            </nav>
        </header>

        <div class="content" ng-app="myApp">

            <h3>Näited</h3>
            <div class="example-section">
                <p>AngularJS kasutusnäidised</p>

                <!--FIRST EXAMPLE-->
                <div style="border: 1px solid black; border-radius: 5px; padding: 5px; margin: 5px 0px;">
                    <div class="btns">
                        <button class="expl-btn" ng-click="showexpl1=true">Näita näidet</button>
                        <button class="code-btn" ng-click="showcode1=true">Näita koodi</button>
                        <button class="hide-btn" ng-click="showexpl1=false;showcode1=false">Peida kõik</button>
                    </div>
                    <p class="showbtn">Lihtne interaktiivse vormi näide</p>
                    <p ng-if="showexpl1" class="example">
                        <img src="code1.PNG" alt="First_example">

                    </p>
                    <p ng-if="showcode1" class="example">
                        <img src="expl1_1.PNG" alt="Code_example1">
                        Lihtne vorm
                        <img src="expl1_2.PNG" alt="Code_example2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, hic repellendus labore.
                    </p>
                </div>

                <!--SECOND EXAMPLE-->
                <div style="border: 1px solid black; border-radius: 5px; padding: 5px; margin: 5px 0px;">
                    <div class="btns">
                        <button class="expl-btn" ng-click="showexpl1=true">Näita näidet</button>
                        <button class="code-btn" ng-click="showcode1=true">Näita koodi</button>
                        <button class="hide-btn" ng-click="showexpl1=false;showcode1=false">Peida kõik</button>
                    </div>
                    <p class="showbtn">Lihtne interaktiivse vormi näide</p>
                    <p ng-if="showexpl1" class="example">
                        <img src="expl1_1.PNG" alt="Code_example1">
                        <img src="expl1_2.PNG" alt="Code_example2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, hic repellendus labore.
                    </p>
                    <p ng-if="showcode1" class="example">
                        <img src="code1.PNG" alt="First_example">

                    </p>
                </div>

                <!--THIRD EXAMPLE-->
                <p class="showbtn"></p>
                <p ng-if="show3" class="example"></p>
                <p class="showbtn"></p>

            </div>

        </div>
        <footer>
            <p><b>Tartu 2018</b></p>
        </footer>
    </div>
    <script src="myApp.js"></script>
    <script src="myCtrl.js"></script>
</body>

</html>
