/* style for angular app*/

@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Exo');

html{
    height: 100%;
}
body{
    
    font-family: 'Exo', sans-serif;
    padding-bottom: 6rem;
    margin: 0;
    min-height: 100%;
    position: relative;
}

header{
    text-align: center;
    background-color: #efefef;
    margin: 0;
    padding-bottom: 30px;

}

#logo{
    padding: 20px;
    width: 150px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
}

li a{
    text-decoration: none;
    padding: 10px 25px;
    background-color: black;
    color: white;
    border-radius: 10px;
    
}

a{
    text-decoration: none;
}

a:visited{
    color: #000;
}

li a:hover{
    
    background-color: #3f3f3f;
}

li a:visited{
    color: #fff;
}

.content{
    margin: 0 auto;
    padding-top: 64px;
    max-width: 740px;
    width: 94%;
}

h3 {
    color: #0e69b7;
}

.content p {
    text-align: justify;
}

footer{
    position: absolute;
    text-align: center;
    background-color: #efefef;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

