/* style for angular app */

@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Exo');

/* BASIC STYLE; FRONT PAGE; NAVBAR-HEADER-FOOTER */
html {
    height: 100%;
}

body {
    font-family: 'Exo', sans-serif;
    margin: 0;
    min-height: 100%;
    position: relative;
}

header {
    text-align: center;
    background-color: #efefef;
    margin: 0 auto;
    padding: 0;
    position: relative;
    float: left;
    width: 100%;
    min-height: 330px;
}

#logo {
    position: absolute;
    padding-top: -20px;
    width: 130px;
    left: 0;
    top: -100px;
    bottom: 0;
    right: 0;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    font-size: 120%;
}

nav a {
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 10px 25px;
}

a {
    text-decoration: none;
}

h1 {
    padding-top: 180px;
    color: #000;
    font-weight: bold;
}

h3 {
    color: #0e69b7;
}

a:active {
    color: #0e69b7;
}

a:visited {
    color: #848484;
}

li a:hover {
    background-color: #3f3f3f;
}

li a:visited {
    color: #fff;
}

.content {
    margin: 0 auto;
    padding-top: 350px;
    padding-bottom: 120px;
    max-width: 840px;
    width: 94%;
}

.content p {
    text-align: justify;
}

footer {
    position: absolute;
    text-align: center;
    background-color: #efefef;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.left {
    width: 50%;
    height: 155px;
    float: left;
    background-color: #a42727;
}

.right {
    width: 50%;
    height: 155px;
    float: left;
    background-color: #d73131;
}

.content a {
    color: #0e69b7;
}

/* TODO LIST */
.tasklist {
    width: 100%;
    min-width: 250px;
    text-align: justify;
    font-size: 110%;
}

input[type='checkbox'] {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

input[type='text'] {
    margin: 5px;
    padding: 5px;
    height: 20px;
    width: 100%;
    font-size: 100%;
    font-family: 'Exo', sans-serif;
}

.input-form button {
    padding: 10px 20px;
    border: 0px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    font-family: 'Exo', sans-serif;
    margin: 5px;
    text-transform: uppercase;
}

.checkmark {
    text-align: justify;
}

.done {
    text-decoration: line-through;
}

/* EXAMPLES */


/* RESOURCES */
table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #a42727;
    color: white;
    padding: 10px;
}

tr:hover {
    background-color: #efefef;
}

.resources a {
    color: #8a4090;
}

.resources a:visited {
    color: #848484;
}

/* THE GAME */




/* FEEDBACK */
button[type=submit]{
    background-color: #000;
    color: white;
    padding: 12px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    display: block;
    font-family: 'Exo', sans-serif;
}

button[type=submit]:hover {
    background-color: #3f3f3f;
}

.feedback label {
    padding: 5px;
    border: 1px;
}

.feedback input, #email {
    border-radius: 5px;
    font-family: 'Exo', sans-serif;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 100%;
}

textarea {
    min-height: 100px;
    width: 100%;
    resize: vertical;
    font-family: 'Exo', sans-serif;
    font-size: 100%;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.feedback h3 {
    padding: 5px;
}
